.movies__item {
   position: relative;
   width: 100%;
   height: 100%;
   cursor: pointer;
   box-shadow: -11px 11px 20px 4px rgba(243, 242, 242, 0.2);
   overflow: hidden;
   z-index: 2;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
.movies__item:hover:after {
   opacity: 1;
   visibility: visible;
   transform: scale(1);
}

.movies__item:hover .movies__info {
   top: 50%;
   left: 50%;
   visibility: visible;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}
.movies__item:hover .movies__poster {
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}
.movies__item:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0, 0.8);
   z-index: 1;
   background-color: rgb(255, 255, 255, 0.7);
   filter: blur(20%);
   opacity: 0;
   visibility: hidden;
   transform: scale(0);
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -ms-transform: scale(0);
   -o-transform: scale(0);
   transition: 0.2s;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -ms-transition: 0.2s;
   -o-transition: 0.2s;
   -webkit-filter: blur(20%);
}

.movies__info {
   position: absolute;
   top: -100%;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: black;
   z-index: 3;
   /*visibility: hidden;
   transform: scale(0);
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -ms-transform: scale(0);
   -o-transform: scale(0);
   */
   transition: 0.4s;
   -webkit-transition: 0.4s;
   -moz-transition: 0.4s;
   -ms-transition: 0.4s;
   -o-transition: 0.4s;
}
.movies__title {
   font-size: 30px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}
.movies__year {
   font-size: 20px;
   font-weight: bold;
   text-align: center;
}
.movies__type {
   font-size: 20px;
   font-weight: bold;
}
.movies__poster {
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
}
